Create an ordered list with the city of each province with the most monuments, along with the counts of the monuments

In [72]:
import pandas as pd
import sqlite3

In [73]:
connection = sqlite3.connect(":memory:")

cities_df = pd.read_excel("Hanson2016_CitiesDatabase_OxREP.xlsx", sheet_name="cities")
cities_df.to_sql("cities", con = connection, index = False)
monuments_df = pd.read_excel("Hanson2016_CitiesDatabase_OxREP.xlsx", sheet_name="monuments")
monuments_df.to_sql("monuments", con=connection, index=False)

9472

In [74]:
df = pd.read_sql("""
SELECT b.province, b.ancient_toponym, COUNT (*) AS "count"

FROM monuments a ,cities b 
WHERE a.id = b.id

GROUP BY a.id
ORDER BY "count" DESC;

""", connection)
df

                           province     ancient_toponym  count
0              Italia (VII Etruria)                Roma    236
1                            Achaea             Athenae    107
2                            Achaea           Corinthia     56
3                              Asia            Pergamum     50
4              Africa Proconsularis        Lepcis Magna     46
...                             ...                 ...    ...
1202                      Lusitania               Balsa      1
1203        Italia (XI Transpadana)           Laumellum      1
1204  Italia (X Venetia et Histria)              Mantua      1
1205  Italia (X Venetia et Histria)              Albona      1
1206           Italia (VII Etruria)  Tifernum Tiberinum      1

[1207 rows x 3 columns]